// Define defaults for each variable.
$spacing-unit:     30px !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;


// MANIFEST ---------------
@import
  "minima/normalize",
  "minima/base",
  "minima/syntax-highlighting",
  "minima/header",
  "minima/home"  
;
