
/* ---- GLOBAL STYLES ---- */

/* ---- BOX SIZING ----*/

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ------- GLOBAL VARIABLES --------*/

/* COLOR */
$main: #19CCAA;
$light: #E7EDF4;
$header:  #1D1425;
$heading-font-color: #425469;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

$font-style:'Source Sans Pro', sans-serif;

$heading-font: 'Montserrat', sans-serif;


/* MEDIA QUERIES */
$mq-small: 320px;
$mq-medium: 768px;
$mq-large: 960px;
$mq-xlarge: 1024px;

/*  WIDTH */
$content-width: 800px;


html {
	font-size: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}


/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: $spacing-unit / 2;
}

/* Images */
img {

  vertical-align: middle;
}

/* Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/* Links */
a {
  // color: $brand-color;
  text-decoration: none;

  &:visited {
    // color: darken($brand-color, 15%);
  }

  &:hover, &:focus {
    // color: $text-color;
    text-decoration: underline;
  }
}



/*  Blockquotes */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/* Code formatting */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/* Clearfix */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
